/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 19, 2026, 6:28:44 PM
    Author     : Lietotājs
*/

html {
  scroll-behavior: smooth; /* smooth scrolling */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
h1 { 
    font-size: 70px;
     text-align: center;
     color: #0D32D4;
     font-family:"Times New Roman", Times, serif;;

}
h2 {
    font-size: 65px;
    text-align: center;
    color: black;
    font-family:"Times New Roman", Times, serif;
}
div {
    text-align: center;
   
}
p {
    text-align: center;
    text-indent: 55px;
    color:#333;
    font-family:"Times New Roman", Times, serif;
    font-size: 20px;
}
.navbar {
  overflow: hidden;
  position: sticky;
  top: 0;
  background: #333;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.nav-item {
  position: relative;
}

.navbar a {
  display: block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background: #575757;
}


.nav-item:hover .dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}


section {
  padding: 40px;
}

.controls {
  margin-top: 15px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}
.imageflex { display: flex; 
}

.imageflexcontent { margin-left: 5px; margin-top: 0; 
}
.column {
  float: left;
  width: 33.33%;
  padding-left: 8%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer {
  background-color: #B0B0B0;
  padding: 10px;
  text-align: center;
  color: white;
}
#sākums { background: #f4f4f4; }
#atteluapstrade { background: #ddd; }
#tekstuapstrāde { background: #bbb; }
#video { background: #999; }
#izklājlapas { background: #f4f4f4; }
#gimps { background: #ddd; }
#inkscape { background: #bbb; }

